.product-section {
   margin-top: 40px;
}

.product-section:last-child {
   margin-bottom: 40px;
}

.product-section > .head {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 16px;
}

.product-section .title {
   font-size: 2rem;
}

.product-section .link {
   color: var(--primary-color);
   font-weight: 700;
}

.product-section .head .link::after {
   content: '\01F862';
   margin-left: 12px;
}

@media screen and (max-width: 900px) {
   
   .product-section {
      margin-top: 16px;
   }
   
   .product-section .title {
      font-size: 1.375rem;
   }

   .product-section .product-list {
      flex-wrap: nowrap;
      overflow-x: scroll;
   }
}

@media screen and (max-width: 425px) {
   
   .product-section {
      margin: 0;
   }
   
   .product-section .link {
      font-size: .875rem;
   }

   .product-section .head .link::after {
      margin-left: 8px;
   }
}