main {
   margin-block: 40px;
}

main > h2 {
   font-size: 2rem;
   margin-bottom: 16px;
}

.product-list {
   row-gap: 64px;
}

@media screen and (max-width: 900px) {
   main {
      margin-block: 16px;
   }
   
   main > h2 {
      font-size: 1.375rem;
   }

   .product-list {
      row-gap: 16px;
   }
}